body{
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
}

.container{
  margin-inline: auto;
  text-align: center;
  max-width: 500px;
  max-height: fit-content;
  border-radius: 20px;
  margin-block: 10%;
  background-color: black;
  border: 1px solid aliceblue;
  box-shadow: 2px 2px 5px aliceblue;
  padding: 10px;
  padding-bottom: 20px;
}

.colorDiv{
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
  margin-inline: auto;
  height: 160px;
  padding: 10px;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.5s ease;
}

